Weather analysis

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('ds/seattle-weather.csv')

In [5]:
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [6]:
data.describe(
    
)

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [7]:
data.shape

(1461, 6)

In [8]:
data.index

RangeIndex(start=0, stop=1461, step=1)

In [9]:
data.columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [10]:
data.dtypes

date              object
precipitation    float64
temp_max         float64
temp_min         float64
wind             float64
weather           object
dtype: object

In [11]:
data['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [12]:
data.nunique()

date             1461
precipitation     111
temp_max           67
temp_min           55
wind               79
weather             5
dtype: int64

In [13]:
data.count()

date             1461
precipitation    1461
temp_max         1461
temp_min         1461
wind             1461
weather          1461
dtype: int64

In [14]:
data['weather'].value_counts()

weather
rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: count, dtype: int64

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

unique values of temperature min?

In [16]:
data['temp_min'].unique()

array([ 5. ,  2.8,  7.2,  5.6,  2.2,  0.6, -1.1, -1.7, -2.8, -3.3,  0. ,
        3.3,  1.1,  4.4, -2.2,  3.9,  6.1,  1.7,  7.8,  6.7, -0.6,  8.9,
        8.3, 10. ,  9.4, 12.8, 11.7, 11.1, 12.2, 10.6, 15. , 13.3, 14.4,
       13.9, 16.7, 17.8, 15.6, 18.3, 16.1, -3.9, -4.4, 17.2, -0.5, -2.1,
       -4.9, -4.3, -7.1, -6.6, -1.6, -5.5, -6. , -3.2, -2.7, -1. , -3.8])

find number of times when weather is fog.

In [18]:
data['weather'].value_counts(normalize=True)

weather
rain       0.438741
sun        0.438056
fog        0.069131
drizzle    0.036277
snow       0.017796
Name: proportion, dtype: float64

In [19]:
data.weather[data.weather == 'fog'].count()

np.int64(101)

In [ ]:
data.temp_min[data.temp_min == 5.0].count()

np.int64(0)

In [9]:
data.temp_min[data.temp_min == 5.0]

0       5.0
8       5.0
34      5.0
38      5.0
42      5.0
68      5.0
89      5.0
109     5.0
125     5.0
126     5.0
318     5.0
394     5.0
397     5.0
411     5.0
420     5.0
426     5.0
430     5.0
431     5.0
462     5.0
477     5.0
653     5.0
678     5.0
685     5.0
698     5.0
730     5.0
737     5.0
776     5.0
779     5.0
802     5.0
819     5.0
831     5.0
842     5.0
1087    5.0
1123    5.0
1128    5.0
1164    5.0
1188    5.0
1207    5.0
1402    5.0
1408    5.0
1411    5.0
Name: temp_min, dtype: float64

In [11]:
data.groupby('temp_min').get_group(5.0)

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
8     2012-01-09            4.3       9.4       5.0   3.4     rain
34    2012-02-04            0.0      15.6       5.0   4.3      sun
38    2012-02-08            2.8      10.0       5.0   2.7     rain
42    2012-02-12            1.0       8.3       5.0   1.3     rain
68    2012-03-09            3.6       9.4       5.0   2.8     rain
89    2012-03-30            5.6       9.4       5.0   4.7     rain
109   2012-04-19           10.9      13.9       5.0   2.6     rain
125   2012-05-05            0.0      13.3       5.0   2.3      sun
126   2012-05-06            0.0      17.8       5.0   2.4      sun
318   2012-11-14            0.8      11.1       5.0   2.6     rain
394   2013-01-29            4.3       8.3       5.0   3.9     rain
397   2013-02-01            0.3      11.7       5.0   2.9     rain
411   2013-02-15            0.0      13.3       5.0   2.4  drizzle
420   2013-02-24            0.0       8.9       5.0   5.5     rain
426   2013-03-02            0.8      13.9       5.0   4.5     rain
430   2013-03-06           11.9       7.2       5.0   4.1     rain
431   2013-03-07            7.4      12.2       5.0   2.5     rain
462   2013-04-07           39.1       8.3       5.0   3.9     rain
477   2013-04-22            0.0      16.1       5.0   4.3      sun
653   2013-10-15            0.0      15.6       5.0   0.9      sun
678   2013-11-09            1.8      11.1       5.0   1.4     rain
685   2013-11-16            0.0      10.0       5.0   4.6      sun
698   2013-11-29            0.5       9.4       5.0   2.1     rain
730   2013-12-31            0.5       8.3       5.0   1.7     rain
737   2014-01-07           12.2       8.3       5.0   1.6     rain
776   2014-02-15           11.7      11.1       5.0   5.1     rain
779   2014-02-18           15.2       8.9       5.0   6.2     rain
802   2014-03-13            0.5      13.9       5.0   2.5     rain
819   2014-03-30            0.0      11.1       5.0   5.1      sun
831   2014-04-11            0.0      17.2       5.0   2.8      sun
842   2014-04-22           14.2      12.2       5.0   4.2     rain
1087  2014-12-23           20.6      12.2       5.0   3.8     rain
1123  2015-01-28            0.0      12.2       5.0   1.8      fog
1128  2015-02-02            7.4      11.1       5.0   4.0     rain
1164  2015-03-10            0.8      13.3       5.0   2.6     rain
1188  2015-04-03            1.5      11.1       5.0   3.6     rain
1207  2015-04-22            0.0      15.6       5.0   2.3      sun
1402  2015-11-03            0.8      10.6       5.0   1.4     rain
1408  2015-11-09            3.3      10.0       5.0   1.3     rain
1411  2015-11-12            9.9      11.1       5.0   5.1     rain

In [12]:
data.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64